@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400&family=Courgette&family=Fredoka+One&family=Kaushan+Script&family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500&display=swap");
* {
  padding: 0;
  padding: 0;
  box-sizing: border-box;
}

.about_container {
  max-width: 1500px;
  height: calc(100vh - 92px);
  display: flex;
  gap: 20px;
  position: relative;
}
.about_container .about_nested {
  padding: 50px;
}
.about_container .about_box1 {
  width: 60%;
  flex-grow: 1.5;
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about_container .about_box1 .about_title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}
.about_container .about_box1 .about_title .the_lidear {
  color: rgb(221, 70, 20);
}
.about_container .about_box1 .about-signature {
  padding-top: 40px;
}
.about_container .about_box1 .nested_box1 {
  display: flex;
  margin: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}
.about_container .about_box1 .nested_box1 .fa-check {
  color: rgb(221, 70, 20);
  padding: 3px;
}
.about_container .about_box2 {
  display: relative;
  width: 40%;
}
.about_container .about_box2 .box_2_nested_img2 {
  margin-top: 20px;
  height: 400px;
  width: 450px;
  margin-left: 40px;
  background-color: rgba(109, 106, 122, 0.102);
}
.about_container .about_box2 .box_2_nested_img1 {
  height: 470px;
  width: 450px;
  margin-top: 50px;
  position: absolute;
}
@media (max-width: 768px) {
  .about_container {
    display: flex;
    padding: 20px;
  }
  .about_container .about_nested {
    padding: 10px;
  }
  .about_container .about_box1 {
    width: 50vh;
  }
  .about_container .about_box1 .about_title {
    font-size: 25px;
    padding: 10px 0px;
  }
  .about_container .about_box1 .about_title .the_lidear {
    color: rgb(221, 70, 20);
  }
  .about_container .about_box1 .nested-title {
    padding: 10px 0px;
  }
  .about_container .about_box1 .bottom_text {
    padding: 15px 0px;
  }
  .about_container .about_box1 .nested_box1 {
    display: flex;
    gap: 20px;
  }
  .about_container .about_box1 .nested_box1 p {
    margin: 10px 0px;
  }
  .about_container .about_box1 .nested_box1 .fa-check {
    color: rgb(221, 70, 20);
  }
  .about_container .about_box1 .bottom_text2 {
    padding: 30px 0px;
  }
  .about_container .about_box2 {
    position: relative;
    width: 34vh;
  }
  .about_container .about_box2 .box_2_nested_img2 {
    display: none;
  }
  .about_container .about_box2 .box_2_nested_img1 {
    height: 65vh;
    width: 32vh;
    margin-top: 37px;
  }
}
@media (max-width: 426px) {
  .about_container {
    flex-direction: column;
    gap: 0px;
  }
  .about_container .about_box1 {
    width: 100%;
  }
  .about_container .about_box1 .about_title {
    font-size: 25px;
    padding: 10px 0px;
  }
  .about_container .about_box1 .about_title .the_lidear {
    color: rgb(221, 70, 20);
  }
  .about_container .about_box1 .nested-title {
    padding: 6px 0px;
    font-size: 18px;
    width: 100%;
  }
  .about_container .about_box1 .bottom_text {
    padding: 15px 0px;
  }
  .about_container .about_box1 .nested_box1 {
    display: flex;
    gap: 10px;
  }
  .about_container .about_box1 .nested_box1 p {
    margin: 7px 0px;
  }
  .about_container .about_box1 .nested_box1 .fa-check {
    color: rgb(221, 70, 20);
  }
  .about_container .about_box1 .bottom_text2 {
    padding: 20px 0px;
  }
  .about_container .about_box2 {
    position: relative;
    width: 40vh;
  }
  .about_container .about_box2 .box_2_nested_img2 {
    display: block;
    height: 30vh;
    width: 80%;
    border: 1px solid red;
    margin-left: 70px;
    margin-bottom: 50px;
  }
  .about_container .about_box2 .box_2_nested_img1 {
    height: 27vh;
    position: absolute;
    width: 90%;
  }
}
@media (max-width: 376px) {
  .about_container {
    flex-direction: column;
    gap: 0px;
  }
  .about_container .about_box1 {
    width: 100%;
  }
  .about_container .about_box1 .about_title {
    font-size: 16px;
    padding: 10px 0px;
  }
  .about_container .about_box1 .about_title .the_lidear {
    color: rgb(221, 70, 20);
  }
  .about_container .about_box1 .nested-title {
    padding: 6px 3px;
    font-size: 14px;
    width: 100%;
  }
  .about_container .about_box1 .bottom_text {
    padding: 12px 9px;
  }
  .about_container .about_box1 .nested_box1 {
    display: flex;
    gap: 10px;
  }
  .about_container .about_box1 .nested_box1 p {
    margin: 7px 0px;
  }
  .about_container .about_box1 .nested_box1 .fa-check {
    color: rgb(221, 70, 20);
  }
  .about_container .about_box1 .bottom_text2 {
    padding: 20px 8px;
  }
  .about_container .about_box2 {
    position: relative;
    width: 33vh;
  }
  .about_container .about_box2 .box_2_nested_img2 {
    display: block;
    height: 30vh;
    width: 80%;
    border: 1px solid red;
    margin-left: 70px;
    margin-bottom: 50px;
  }
  .about_container .about_box2 .box_2_nested_img1 {
    height: 27vh;
    position: absolute;
    width: 90%;
  }
}
@media (max-width: 320px) {
  .about_container .about_box2 {
    position: relative;
    width: 27vh;
  }
  .about_container .about_box2 .box_2_nested_img2 {
    display: block;
    height: 23vh;
    width: 80%;
    border: 1px solid red;
    margin-left: 70px;
    margin-bottom: 50px;
  }
  .about_container .about_box2 .box_2_nested_img1 {
    height: 22vh;
    position: absolute;
    width: 90%;
  }
}/*# sourceMappingURL=About.css.map */