@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400&family=Courgette&family=Fredoka+One&family=Kaushan+Script&family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500&display=swap");
@import "./global.scss";

.about_container {
  max-width: 1500px;

  display: flex;
  gap: 20px;
  .about_nested {
    padding: 50px;
  }

  .about_box1 {
    width: 60%;

    gap: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .about_title {
      font-family: "Poppins", sans-serif;
      font-size: 40px;
      margin-bottom: 20px;
      .the_lidear {
        color: rgb(221, 70, 20);
      }
    }
    .about-signature {
      padding-top: 40px;
    }

    .nested_box1 {
      display: flex;
      margin: 20px 0px;
      justify-content: center;
      align-items: center;
      gap: 12rem;

      .fa-check {
        color: rgb(221, 70, 20);
        padding: 3px;
      }
    }
  }

  .about_box2 {
    position: relative;
    width: 40%;

    .bg-img {
      background-image: -webkit-repeating-radial-gradient(
        center center,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3) 1px,
        transparent 1px,
        transparent 100%
      );
      background-size: 3px 3px;
      justify-self: flex-end;
      height: 510px;

      margin-left: 110px;
    }
    img {
      width: 424px;
      height: 547px;
      margin-left: -100px;
      margin-top: 30px;
    }
  }
  @include computer {
    .about_box1 {
      width: 55%;
      gap: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      .about_title {
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        margin-bottom: 20px;
        .the_lidear {
          color: rgb(221, 70, 20);
        }
      }
      .about-signature {
        padding-top: 40px;
      }

      .nested_box1 {
        display: flex;
        margin: 20px 0px;
        justify-content: center;
        align-items: center;
        gap: 12rem;

        .fa-check {
          color: rgb(221, 70, 20);
          padding: 3px;
        }
      }
    }
    .about_box2 {
      width: 45%;

      .bg-img {
        background-image: -webkit-repeating-radial-gradient(
          center center,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3) 1px,
          transparent 1px,
          transparent 100%
        );
        background-size: 3px 3px;
        justify-self: flex-end;
        height: 510px;

        margin-left: 110px;
      }
      img {
        width: 370px;
        height: 580px;
        margin-left: -170px;
        margin-top: 30px;
      }
    }
  }
  @include tablet {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 50px;
    margin-bottom: 80px;
    .about_box1 {
      width: 100%;
      gap: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 15px;

      .about_title {
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        margin-bottom: 10px;
        .the_lidear {
          color: rgb(221, 70, 20);
        }
      }
      .about-signature {
        padding-top: 5px;
      }

      .nested_box1 {
        display: flex;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
        gap: 7rem;

        .fa-check {
          color: rgb(221, 70, 20);
          padding: 3px;
        }
      }
    }
    .about_box2 {
      width: 100%;
      padding: 0px;
      margin: 0px;
      justify-content: flex-start;
      align-items: flex-start;
      .bg-img {
        align-self: flex-start;
        justify-self: flex-start;
        background-image: -webkit-repeating-radial-gradient(
          center center,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3) 1px,
          transparent 1px,
          transparent 100%
        );
        background-size: 3px 3px;
        justify-self: flex-end;
        height: 420px;

        margin-left: 50px;
      }
      img {
        align-self: flex-start;
        justify-self: flex-start;
        width: 100%;
        height: 440px;
        margin-left: -50px;
        margin-top: 40px;
      }
    }
  }
  @include large-mobile {
    margin: 10px 20px;
    margin-bottom: 50px;
    .about_box1 {
      width: 100%;
      gap: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 15px;

      .about_title {
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        margin-bottom: 10px;
        .the_lidear {
          color: rgb(221, 70, 20);
        }
      }
      .about-signature {
        padding-top: 5px;
      }

      .nested_box1 {
        display: flex;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
        gap: 7rem;

        .fa-check {
          color: rgb(221, 70, 20);
          padding: 3px;
        }
      }
    }
    .about_box2 {
      width: 100%;
      padding: 0px;
      margin: 0px;
      justify-content: flex-start;
      align-items: flex-start;
      .bg-img {
        align-self: flex-start;
        justify-self: flex-start;
        background-image: -webkit-repeating-radial-gradient(
          center center,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3) 1px,
          transparent 1px,
          transparent 100%
        );
        background-size: 3px 3px;
        justify-self: flex-end;
        height: 200px;

        margin-left: 50px;
      }
      img {
        align-self: flex-start;
        justify-self: flex-start;
        width: 350px;
        height: 220px;
        margin-left: -50px;
        margin-top: 20px;
      }
    }
  }
  @include medium-mobile {
    margin: 10px 20px;
    margin-bottom: 50px;
    .about_box1 {
      width: 100%;
      gap: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 15px;

      .about_title {
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        margin-bottom: 10px;
        .the_lidear {
          color: rgb(221, 70, 20);
        }
      }
      .about-signature {
        padding-top: 5px;
      }

      .nested_box1 {
        display: flex;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
        gap: 7rem;

        .fa-check {
          color: rgb(221, 70, 20);
          padding: 3px;
        }
      }
    }
    .about_box2 {
      width: 100%;
      padding: 0px;
      margin: 0px;
      justify-content: flex-start;
      align-items: flex-start;
      .bg-img {
        align-self: flex-start;
        justify-self: flex-start;
        background-image: -webkit-repeating-radial-gradient(
          center center,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3) 1px,
          transparent 1px,
          transparent 100%
        );
        background-size: 3px 3px;
        justify-self: flex-end;
        height: 180px;

        margin-left: 50px;
      }
      img {
        align-self: flex-start;
        justify-self: flex-start;
        width: 298px;
        height: 200px;
        margin-left: -50px;
        margin-top: 20px;
      }
    }
  }

  @include mobile {
    margin: 10px 20px;
    margin-bottom: 50px;
    .about_box1 {
      width: 100%;
      gap: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 15px;

      .about_title {
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        margin-bottom: 10px;
        .the_lidear {
          color: rgb(221, 70, 20);
        }
      }
      .about-signature {
        padding-top: 5px;
      }

      .nested_box1 {
        display: flex;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .fa-check {
          color: rgb(221, 70, 20);
          padding: 3px;
        }
      }
    }
    .about_box2 {
      width: 100%;
      padding: 0px;
      margin: 0px;
      justify-content: flex-start;
      align-items: flex-start;
      .bg-img {
        align-self: flex-start;
        justify-self: flex-start;
        background-image: -webkit-repeating-radial-gradient(
          center center,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3) 1px,
          transparent 1px,
          transparent 100%
        );
        background-size: 3px 3px;
        justify-self: flex-end;
        height: 170px;

        margin-left: 50px;
      }
      img {
        align-self: flex-start;
        justify-self: flex-start;
        width: 240px;
        height: 180px;
        margin-left: -50px;
        margin-top: 20px;
      }
    }
  }
}
