.section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
	position: relative;
	padding: 90px 48px;
	overflow-x: hidden;

	.title_h1 {
		width: 600px;
		font-size: 45px;
		margin: 0px 0px 24px;
	}

	.centerArea {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 35px;

		.items {
			display: grid;
			grid-template-columns: 4fr 0.6fr;
			justify-content: space-around;
			flex-direction: column;
			background: #f4f6f8;
			//margin-left: 15px;

			.images1 {
				width: 275px;
				height: 300px;
			}

			.sideIcons {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
			}
			.team_names {
				grid-column: 1/3;
				width: 100%;
				height: 109px;
				padding: 24px;
				:nth-child(1) {
					font-size: 24px;
					color: aqua;
					font-weight: bold;
				}
				:nth-child(2) {
					font-size: 16px;
				}
			}
		}
	}
	@media screen and (max-width: 1024px) {
		.centerArea {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 40px;
		}
	}
}
