$mobile: 321px;
$medium-mobile: 376px;
$large-mobile: 426px;
$tablet: 768px;
$computer: 1025px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin medium-mobile {
  @media (max-width: #{$medium-mobile}) {
    @content;
  }
}
@mixin large-mobile {
  @media (max-width: #{$large-mobile}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin computer {
  @media (max-width: #{$computer}) {
    @content;
  }
}
