* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.pages {
  color: rgb(0, 13, 255);
  text-align: center;
  font-size: 3.5rem;
  font-weight: bolder;
  margin-top: 20%;
}

@media screen and (max-width: 996px) {
  .pages {
    color: rgb(0, 13, 255);
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 20%;
  }
}
.navbar {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, transparent 1px, transparent 100%);
  background-size: 4px 4px;
  background-color: #040f28 !important;
  position: sticky;
  display: flex;
  width: 100%;
  align-items: center;
  top: 0;
  z-index: 100;
}
.navbar .nav-container {
  top: 0;
  z-index: 100;
  display: inline-flex;
  width: 100%;
  height: 92px;
  max-width: 1500px;
  align-items: center;
  padding: 0 20px 0px 5px;
}
.navbar .nav-container .nav-logo {
  display: flex;
  text-decoration: none;
  font-family: "Lobster", cursive;
  font-weight: bolder;
  font-size: 50px;
  color: blue;
  flex-grow: 1;
  text-transform: capitalize;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.navbar .nav-container .nav-ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style-type: none;
  margin-right: 2rem;
}
.navbar .nav-container .nav-ul .nav-items {
  list-style-type: none;
  line-height: 40px;
}
.navbar .nav-container .nav-ul .nav-items .nav-links {
  text-decoration: none;
  font-size: 24px;
  color: beige;
}
.navbar .nav-container .nav-ul .nav-items .nav-links:hover {
  color: #e30976;
  transition: 0.3s ease-in-out;
}
.navbar .nav-container .nav-ul .nav-items .active {
  color: #e30976;
  border: 1px solid #e30976;
}
.navbar .nav-container .nav-ul .nav-links:hover {
  content: "";
  display: block;
  border-bottom: 3px solid #ffdd40;
  transition: 0.2s ease-in-out;
}
.navbar .nav-container .nav-icons {
  display: none;
}
@media screen and (max-width: 996px) {
  .navbar .nav-container .nav-ul {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #fff;
    top: 92px;
    opacity: 1;
    width: 20%;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
    background-color: #040f28 !important;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
    opacity: 0.8;
    left: -110%;
  }
  .navbar .nav-container .openClose {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .navbar .nav-container .nav-icons {
    display: block;
    font-size: 30px;
    color: beige;
    padding-left: 10px;
    cursor: pointer;
  }
}
@media screen and (max-width: 769px) {
  .navbar .nav-container .nav-logo {
    font-size: 70px;
  }
  .navbar .nav-container .nav-ul {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
    background-color: #040f28 !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 100%;
    gap: 25px;
  }
}
@media screen and (max-width: 426px) {
  .navbar .nav-container .nav-logo {
    font-size: 40px;
  }
  .navbar .nav-container .nav-ul {
    width: 45%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 376px) {
  .navbar .nav-container .nav-logo {
    font-size: 40px;
  }
  .navbar .nav-container .nav-ul {
    width: 45%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 321px) {
  .navbar .nav-container .nav-logo {
    font-size: 30px;
    font-weight: bold;
  }
  .navbar .nav-container .nav-ul {
    display: flex;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
    background-color: #040f28 !important;
    width: 40%;
    gap: 10px;
  }
  .navbar .nav-container .nav-ul .nav-items {
    justify-content: center;
    padding-right: 18px;
    align-items: center;
  }
  .navbar .nav-container .nav-ul .nav-items .nav-links {
    text-decoration: none;
    font-size: 16px;
    color: beige;
  }
}/*# sourceMappingURL=NavbarStyle.css.map */